.Card {
    border: 0.5px solid rgb(171, 178, 191);

    &__Title {
        padding: 8px;
        border-bottom: 0.5px solid rgb(171, 178, 191);
    }

    &__bottom {
        padding: 8px;
    }

    &__div {
        padding: 8px;
        border-bottom: 0.5px solid rgb(171, 178, 191);
        display: flex;
        justify-content: space-between;
    }
}