@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira Code", monospace;
}

body {
  background: #282c33;
}

:root {
  --color-1: #ABB2BF;
  --color-2: #C778DD;
  --color-3: #FFFFFF;
}

a {
  text-decoration: none;
}